SECRET_KEY=

GROQ_API_KEY=
GROQ_MODEL=

# Base de Datos
DBNAME=
DBUSER=
DBPASSWORD=
DBHOST=
DBPORT=

EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

PASSWORD_RESET_TIMEOUT=3600
PASSWORD_RESET_CONFIRM_URL=http://localhost:3000/password/reset
INVITATION_EXPIRATION_HOURS=48
INVITATION_ACCEPT_URL=http://localhost:3000/invitations/accept

R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_ENDPOINT_URL=
R2_BUCKET_NAME=
